USE [master]
GO
/****** Object:  Database [dbDocs]    Script Date: 13/04/2022 4:33:42 pm ******/
CREATE DATABASE [dbDocs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbDocs', FILENAME = N'/var/opt/mssql/data/dbDocs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbDocs_log', FILENAME = N'/var/opt/mssql/data/dbDocs_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbDocs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbDocs]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activity] [nvarchar](max) NULL,
	[User] [nvarchar](max) NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addressees]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addressees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Office] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Addressees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocDatas]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocSubject] [nvarchar](max) NULL,
	[CurrentStatus] [nvarchar](max) NULL,
	[ForSigned] [datetime] NULL,
	[Signed] [datetime] NULL,
	[ForRelease] [datetime] NULL,
	[FocalID] [nvarchar](max) NULL,
	[DateAdd] [datetime] NOT NULL,
	[DoctTypes] [nvarchar](max) NULL,
	[AddresseeID] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[Tag] [nvarchar](max) NULL,
	[DocControlNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DocDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocPaths]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocPaths](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NULL,
	[DocDataID] [int] NOT NULL,
	[DocStatusTag] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DocPaths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocTypes]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocType] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DocTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Focals]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Focals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[ContactNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PlantillaID] [int] NOT NULL,
	[FocalshipID] [int] NOT NULL,
	[OfficeID] [int] NOT NULL,
	[NickName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Focals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Focalships]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Focalships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FocalshipName] [nvarchar](max) NULL,
	[Acronym] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Focalships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OperatingUnit] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Offices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plantillas]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantillas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Acronym] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Plantillas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/04/2022 4:33:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[NickName] [nvarchar](max) NULL,
	[Sex] [nvarchar](max) NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [Activity], [User], [DateTime]) VALUES (1, N'added new Incoming document', N'Hatdog', CAST(N'2022-03-31T16:13:47.817' AS DateTime))
INSERT [dbo].[Activities] ([Id], [Activity], [User], [DateTime]) VALUES (2, N'added new Incoming document', N'Hatdog', CAST(N'2022-03-31T16:14:16.517' AS DateTime))
INSERT [dbo].[Activities] ([Id], [Activity], [User], [DateTime]) VALUES (3, N'added new Incoming document', N'AJ', CAST(N'2022-03-31T16:15:52.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[Addressees] ON 

INSERT [dbo].[Addressees] ([Id], [Office], [FullName], [Email], [ContactNo]) VALUES (1034, N'Corplan', N'Mon', NULL, NULL)
INSERT [dbo].[Addressees] ([Id], [Office], [FullName], [Email], [ContactNo]) VALUES (1035, N'RO 4A', N'Regional Office IV-A', N'region4a@tesda.gov.ph', N'')
INSERT [dbo].[Addressees] ([Id], [Office], [FullName], [Email], [ContactNo]) VALUES (1036, N'ODG', N'Sec', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Addressees] OFF
GO
SET IDENTITY_INSERT [dbo].[DocDatas] ON 

INSERT [dbo].[DocDatas] ([Id], [DocSubject], [CurrentStatus], [ForSigned], [Signed], [ForRelease], [FocalID], [DateAdd], [DoctTypes], [AddresseeID], [Remarks], [Tag], [DocControlNumber]) VALUES (1058, N'sample hatdog', N'Success', CAST(N'2022-04-13T00:00:00.000' AS DateTime), CAST(N'2022-04-05T00:00:00.000' AS DateTime), CAST(N'2022-04-05T00:00:00.000' AS DateTime), N'1,14,15,16,19,26', CAST(N'2022-04-11T14:50:00.000' AS DateTime), N'Memo', 1034, N'aaaa|', N'I', N'123|3456|6789')
INSERT [dbo].[DocDatas] ([Id], [DocSubject], [CurrentStatus], [ForSigned], [Signed], [ForRelease], [FocalID], [DateAdd], [DoctTypes], [AddresseeID], [Remarks], [Tag], [DocControlNumber]) VALUES (1059, N'aj contract', N'SIGNED', CAST(N'2022-04-11T14:31:59.000' AS DateTime), CAST(N'2022-04-11T14:31:00.000' AS DateTime), CAST(N'2022-04-11T15:33:00.000' AS DateTime), N'9', CAST(N'2022-04-11T14:31:59.000' AS DateTime), N'Contract', 1035, N'sample contractxx', N'O', N'1234')
INSERT [dbo].[DocDatas] ([Id], [DocSubject], [CurrentStatus], [ForSigned], [Signed], [ForRelease], [FocalID], [DateAdd], [DoctTypes], [AddresseeID], [Remarks], [Tag], [DocControlNumber]) VALUES (1060, N'Flag Raising Ceremony', N'', CAST(N'2022-04-04T00:00:00.000' AS DateTime), CAST(N'2022-03-29T00:00:00.000' AS DateTime), NULL, N'9,11,14,19', CAST(N'2022-03-29T23:54:00.000' AS DateTime), N'Advisory', 1036, N'Please respond|', N'I', N'5555|555|343234')
SET IDENTITY_INSERT [dbo].[DocDatas] OFF
GO
SET IDENTITY_INSERT [dbo].[DocPaths] ON 

INSERT [dbo].[DocPaths] ([Id], [Path], [DocDataID], [DocStatusTag]) VALUES (1018, N'\\R4A_FileServer\Control of Documents\RECEIVED202204111429-2021-Planning-Guidelines-TESDA-1.pdf', 1058, N'R')
INSERT [dbo].[DocPaths] ([Id], [Path], [DocDataID], [DocStatusTag]) VALUES (1019, N'\\R4A_FileServer\Control of Documents\SIGNED202204111431-AJ-Contract-Jan-June-2021.pdf', 1059, N'S')
INSERT [dbo].[DocPaths] ([Id], [Path], [DocDataID], [DocStatusTag]) VALUES (1021, N'\\R4A_FileServer\Control of Documents\RECEIVED202204111533-Cavite-OPCR_Revised-05-31-21.pdf', 1059, N'R')
SET IDENTITY_INSERT [dbo].[DocPaths] OFF
GO
SET IDENTITY_INSERT [dbo].[DocTypes] ON 

INSERT [dbo].[DocTypes] ([Id], [DocType], [Description]) VALUES (1, N'Memorandum', NULL)
INSERT [dbo].[DocTypes] ([Id], [DocType], [Description]) VALUES (2, N'TESDA Circular', NULL)
INSERT [dbo].[DocTypes] ([Id], [DocType], [Description]) VALUES (3, N'TESDA Order', NULL)
SET IDENTITY_INSERT [dbo].[DocTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Focals] ON 

INSERT [dbo].[Focals] ([Id], [FullName], [ContactNumber], [Email], [PlantillaID], [FocalshipID], [OfficeID], [NickName]) VALUES (1, N'Anthony Cabigayan', NULL, N'ancabigayan@tesda.gov.ph', 13, 2, 1, N'Mon')
INSERT [dbo].[Focals] ([Id], [FullName], [ContactNumber], [Email], [PlantillaID], [FocalshipID], [OfficeID], [NickName]) VALUES (2, N'Anngel Riz Venneze Balleta', NULL, N'aaballeta@tesda.gov.ph', 8, 2, 1, N'Anngel')
INSERT [dbo].[Focals] ([Id], [FullName], [ContactNumber], [Email], [PlantillaID], [FocalshipID], [OfficeID], [NickName]) VALUES (3, N'Toni June Tamayo, CESO III', NULL, N'tjatamayo@tesda.gov.ph', 1, 1, 1, N'RD June')
SET IDENTITY_INSERT [dbo].[Focals] OFF
GO
SET IDENTITY_INSERT [dbo].[Focalships] ON 

INSERT [dbo].[Focalships] ([Id], [FocalshipName], [Acronym]) VALUES (1, N'Office of the Regional Director', N'ORD')
INSERT [dbo].[Focalships] ([Id], [FocalshipName], [Acronym]) VALUES (2, N'Planning', N'Planning')
INSERT [dbo].[Focalships] ([Id], [FocalshipName], [Acronym]) VALUES (3, N'Program Registration', N'UTPRAS')
SET IDENTITY_INSERT [dbo].[Focalships] OFF
GO
SET IDENTITY_INSERT [dbo].[Offices] ON 

INSERT [dbo].[Offices] ([Id], [OperatingUnit], [ContactNo], [Email]) VALUES (1, N'TESDA Regional Office IV-A', NULL, N'region4a@tesda.gov.ph')
INSERT [dbo].[Offices] ([Id], [OperatingUnit], [ContactNo], [Email]) VALUES (2, N'TESDA Provincial Office Cavite', NULL, N'region4a.cavite.tesda.gov.ph')
INSERT [dbo].[Offices] ([Id], [OperatingUnit], [ContactNo], [Email]) VALUES (3, N'TESDA Provincial Office Laguna', NULL, N'region4a.laguna@tesda.gov.ph')
SET IDENTITY_INSERT [dbo].[Offices] OFF
GO
SET IDENTITY_INSERT [dbo].[Plantillas] ON 

INSERT [dbo].[Plantillas] ([Id], [Acronym], [Position]) VALUES (1, N'RD', N'Regional Director')
INSERT [dbo].[Plantillas] ([Id], [Acronym], [Position]) VALUES (2, N'PD', N'Provincial Director')
INSERT [dbo].[Plantillas] ([Id], [Acronym], [Position]) VALUES (3, N'ROD Chief', N'Chief, Regional Operations Division')
SET IDENTITY_INSERT [dbo].[Plantillas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Super Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [FirstName], [LastName], [NickName], [Sex], [RoleID]) VALUES (1, N'a', N'a', N'Anthony', N'Cabigayan', N'Hatdog', N'Male', 1)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [FirstName], [LastName], [NickName], [Sex], [RoleID]) VALUES (2, N'User', N'User', N'R4Aaaaa', N'calabarzon', N'IVA', N'Male', 3)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [FirstName], [LastName], [NickName], [Sex], [RoleID]) VALUES (3, N'Admin', N'Admin', N'AJ', N'Berroya', N'AJ', N'Female', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AddresseeID]    Script Date: 13/04/2022 4:33:56 pm ******/
CREATE NONCLUSTERED INDEX [IX_AddresseeID] ON [dbo].[DocDatas]
(
	[AddresseeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocDataID]    Script Date: 13/04/2022 4:33:56 pm ******/
CREATE NONCLUSTERED INDEX [IX_DocDataID] ON [dbo].[DocPaths]
(
	[DocDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FocalshipID]    Script Date: 13/04/2022 4:33:56 pm ******/
CREATE NONCLUSTERED INDEX [IX_FocalshipID] ON [dbo].[Focals]
(
	[FocalshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OfficeID]    Script Date: 13/04/2022 4:33:56 pm ******/
CREATE NONCLUSTERED INDEX [IX_OfficeID] ON [dbo].[Focals]
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlantillaID]    Script Date: 13/04/2022 4:33:56 pm ******/
CREATE NONCLUSTERED INDEX [IX_PlantillaID] ON [dbo].[Focals]
(
	[PlantillaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleID]    Script Date: 13/04/2022 4:33:56 pm ******/
CREATE NONCLUSTERED INDEX [IX_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocDatas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DocDatas_dbo.Addressees_AddresseeID] FOREIGN KEY([AddresseeID])
REFERENCES [dbo].[Addressees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocDatas] CHECK CONSTRAINT [FK_dbo.DocDatas_dbo.Addressees_AddresseeID]
GO
ALTER TABLE [dbo].[DocPaths]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DocPaths_dbo.DocDatas_DocDataID] FOREIGN KEY([DocDataID])
REFERENCES [dbo].[DocDatas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocPaths] CHECK CONSTRAINT [FK_dbo.DocPaths_dbo.DocDatas_DocDataID]
GO
ALTER TABLE [dbo].[Focals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Focals_dbo.Focalships_FocalshipID] FOREIGN KEY([FocalshipID])
REFERENCES [dbo].[Focalships] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Focals] CHECK CONSTRAINT [FK_dbo.Focals_dbo.Focalships_FocalshipID]
GO
ALTER TABLE [dbo].[Focals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Focals_dbo.Offices_OfficeID] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Offices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Focals] CHECK CONSTRAINT [FK_dbo.Focals_dbo.Offices_OfficeID]
GO
ALTER TABLE [dbo].[Focals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Focals_dbo.Plantillas_PlantillaID] FOREIGN KEY([PlantillaID])
REFERENCES [dbo].[Plantillas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Focals] CHECK CONSTRAINT [FK_dbo.Focals_dbo.Plantillas_PlantillaID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID]
GO
USE [master]
GO
